@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Pretendard-Regular';
    background-color: #DECFDF;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #bea1c0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo {
    height: 60px;
    line-height: 60px;
    /* border: 1px solid black; */
    text-transform: uppercase;
}

.menu {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    position: relative;
}

.menu li {}

.menu li a {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 22px;
}

#indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25px;
    height: 4px;
    background-color: #9e73a1;
    border-radius: 5px;
    transition: all 0.3s;
    opacity: 0;
}

.menu li:hover~#indicator {
    opacity: 1;
}

.menu li:nth-child(1):hover~#indicator {
    left: 5.2%;
}

.menu li:nth-child(2):hover~#indicator {
    left: 38.7%;
}

.menu li:nth-child(3):hover~#indicator {
    left: 73.3%;
}

.section {
    min-height: 100vh;
    width: 100%;
}

.section_inner {
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid black; */
    padding: 20px;
}

.section_inner h2 {
    width: 170px;
    font-size: 30px;
    border-bottom: 4px solid #9e73a1;
    margin-bottom: 20px;
}

/* about */
.about {}

.about_cont {
    border: 5px solid #fff;
    margin: 0 auto;
    width: 1200px;
    border-radius: 40px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.img_box {
    width: 300px;
    /* border: 1px solid red; */
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 280px;
    height: 300px;
    /* border: 1px solid royalblue; */
    margin-bottom: 10px;
    background-image: url("../img/my.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.motto {
    /* border: 1px solid royalblue; */
    display: none;
}

.typing {
    text-align: center;
}

.typing ul li {    
    height: 25px;
    line-height: 25px;
}

.typing ul li.on {
    animation: cursor 1s infinite;
    display: inline-block;
    padding-right: 5px;

}

@keyframes cursor {
    0% {
        border-right: 1px solid #ccc;
    }

    50% {
        border-right: 1px solid gray;
    }

    100% {
        border-right: 1px solid #ccc;
    }

}

.me {
    width: 800px;
    /* border: 1px solid blue; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.me li {
    width: 760px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.me li p {
    width: 110px;
    /* background-color: aqua; */
    font-weight: bold;
    color: #9e73a1;
    text-align: center;
}

.me li span {
    display: block;
    width: 480px;
    padding-left: 40px;
    /* background-color: brown; */
}

/* design */
.design {
}

.design .section_inner {
    height: 600px;
    position: relative;
}

.my {
    display: flex;
    justify-content: center;
    /* background-color: wheat; */
}

.d_my{
    width: 1400px;
    margin: 0 auto;
    height: 500px;
    display: flex;
    justify-content: space-between ;
}
.design  .d_my{
    position: absolute;
    left: 160px;
    top:75px;
    background-color: #DECFDF;
    display: none;
}
.design  .d_my.on{
    display: flex;
}
.design span{
    position: absolute;
    left: 0;
    top: 50px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    display: block;
    z-index: 10;
}
.design span.on{
    border: 1px solid #9e73a1;
}

.design span:nth-of-type(1){
    left: 200px;
}
.design span:nth-of-type(2){
    left: 250px;
}
.design span:nth-of-type(3){
    left: 300px;
}
.design span:nth-of-type(4){
    left: 350px;
}
.design span:nth-of-type(5){
    left: 400px;
}

.finish {
    width: 600px;
    height: 500px;
    /* border: 1px solid blue; */
    /* background-color: aquamarine; */
    position: relative;
    background-repeat: no-repeat;
}
.finish img{
    /* border: 1px solid red; */
}
.finish1{
    background-image: url("../img/taeyeon.png");
    background-position: right center;
    background-size: cover;
}
.finish1 img{
    display: inline-block;
    position: absolute;
    right: -190px;
    top: 10px;
    width: 550px !important;
}
.finish2{}
.finish2 img{
    width: 800px;
    
}
.finish3{
    background-size: contain;
    background-image: url("../img/package2.png");
    background-position: left center;
}   
.finish3 img{
    width: 65%;
    /* border: 1px solid red; */
    position: absolute;
    left: 320px;
    top: 40px;
}
.finish4{
    background-size: contain;
    background-image: url("../img/trip1.png");
    background-position: left center;
}   
.finish4 img{
    width: 70%;
    /* border: 1px solid red; */
    position: absolute;
    right: -200px;
    bottom: -40px;
}
.finish5{
    background-size: contain;
    background-image: url("../img/go2.jpg");
    background-position: center center;
}   

.explanation {
    width: 800px;
    height: 500px;
    /* border: 1px solid red; */
    /* background-color: olive;
    display: flex; */
    flex-direction: column;
    justify-content: center;
}

.explanation h3 {
    padding: 30px 0;
    font-size: 40px;
    text-align: center;
    color: #9e73a1;
}

.tool {
    position: relative;
    display: flex;
    justify-content: center;
}

.tool img {
    width: 50px;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
}

.e_txt {
    font-size: 30px;
    padding: 50px 0 50px 140px;
    line-height: 1.5;
}

/* coding */
.coding {}

.c_finish {
    background-image: url("../img/monitor.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.c_finish .view {
    /* border: 1px solid tomato; */
    width: 425px;
    height: 267px;
    position: absolute;
    top: 107px;
    left: 87px;
    overflow: hidden;
}

.c_finish img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.c_tool {
    position: relative;
    display: flex;
    justify-content: center;
    /* border: 1px solid yellowgreen; */
    height: 50px;
    /* width: 300px; */
}

.c_tool img {
    /* border: 1px solid red; */
    width: 50px;
    margin-right: 10px;
}

.c_finish p {
    /* color: #fff; */
    font-size: 20px;
    position: absolute;
    right: -27px;
    top: 45px;
}

.c_finish span {
    background-image: url("../img/arrow_here.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 55px;
    top: 30px;
    /* border: 1px solid teal; */
    width: 45px;
    height: 45px;
    transform: rotate(115deg);

}
.fp-arrow.fp-prev{
    border-width: 0 !important;
    border-color:transparent !important;
    width: 80px;
    height: 80px;
    /* background-color: aqua !important; */
    background-size: contain !important;
    background-image: url("../img/arrow_4.png");
    position: absolute;
    left: 146px;
    transition: all 0.3ss;
    animation: arrow_move_prev 0.5s infinite;
    /* border: 1px solid royalblue !important; */
}
@keyframes arrow_move_prev{
    0%{}
    50%{
        left: 136px;
    }
    100%{
        left: 146px;
    }
}
.fp-arrow.fp-next{
    /* border-width: 38.5px 0px 38.5px 34px;
    border-color: transparent transparent transparent rgb(255, 255, 255); */
    border-width: 0 !important;
    border-color:transparent !important;
    width: 80px;
    height:80px;
    /* border: 1px solid royalblue !important; */
    /* background-color: #9e73a1 !important; */
    background-image: url("../img/arrow_4.png");
    background-size: contain !important;
    position: absolute;
    right: 146px;
    transform: rotate(180deg);
    transition: all 0.3ss;
    animation: arrow_move_next 0.5s infinite;
}
@keyframes arrow_move_next{
    0%{}
    50%{
        right: 136px;
    }
    100%{
        right: 146px;
    }
}
.fp-slidesNav{
    /* border: 1px solid red !important; */
    position: absolute !important;
    bottom: 145px !important;
    left: 50% !important;
    width: 200px;
    transform: translateX(-50%);;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #9e73a1 !important;
}
/* #fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 } */