@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* DECFDF */
/* bea1c0 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'Pretendard-Regular';
    background-color: #DECFDF;
}

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #bea1c0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.logo{
    height: 60px;
    line-height: 60px;
    /* border: 1px solid black; */
    text-transform: uppercase;    
}
.menu{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    position: relative;
}
.menu li{}
.menu li a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 22px;
}

#indicator{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25px;
    height: 4px;
    background-color: #9e73a1;
    border-radius: 5px;
    transition: all 0.3s;
    opacity: 0;
}
.menu li:hover ~ #indicator{
    opacity: 1;
}
.menu li:nth-child(1):hover ~ #indicator{
    left: 5.2%;
}
.menu li:nth-child(2):hover ~ #indicator{
    left: 38.7%;
}
.menu li:nth-child(3):hover ~ #indicator{
    left: 73.3%;
}
.section{
    min-height: 100vh;
    width: 100%;
}
.section_inner{
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}
.section_inner h2{
    width: 170px;
    font-size: 30px;
    border-bottom: 4px solid #9e73a1;
    margin-bottom: 20px;
}
/* about */
.about{}
.about_cont{
    border: 5px solid #fff;
    margin: 0 auto;
    width: 1200px;
    border-radius: 40px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}
.img_box{
    width: 300px;
    border: 1px solid red;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    width: 280px;
    height: 300px;
    border: 1px solid royalblue;
    margin-bottom: 10px;
}
.motto{
    width: 280px;
    /* border: 1px solid royalblue; */
    padding: 10px 0;
    display: none;
}
.motto ul li{
    height: 25px;
    line-height: 25px;
}
.typing{
    text-align: center;
}
.typing ul li{
    height: 25px;
    line-height: 25px;
}
.typing ul li.on{
    animation: cursor 1s infinite;
    display: inline-block;
    padding-right: 5px;

}
@keyframes cursor{
    0%{border-right: 1px solid #ccc;}
    50%{border-right: 1px solid gray;}
    100%{border-right: 1px solid #ccc;}

}
.me{
    width: 800px;
    /* border: 1px solid blue; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.me li{
    width: 760px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.me  li p{
    width: 110px;
    /* background-color: aqua; */
    font-weight: bold;
    color: #9e73a1;
    text-align: center;
}
.me li span{
    display: block;
    width: 480px;
    padding-left: 40px;
    /* background-color: brown; */
}

/* design */
.design{}
.design .section_inner{
    height: 600px;
}
/* coding */
.coding{}
