@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
body{
    background-color: #ebe3eb;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-repeat: repeat;
    background-size: 30%;
    background-position: center;
    background-attachment: fixed;       
    font-family: 'Pretendard-Regular';
    /* background-image: url("../flowers-8175044_1280.png"); */
    
}
.world{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    background-image: url("../img/mario-cart-bg.png");
    /* background-image: url("../img/background.png"); */
}
.among{
    position: absolute;
    width: 60px;
    height: 80px;
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);
}
.text{
    position: absolute;
    left: 1200px;
    /* left: 1050px; */
    /* bottom: 300px; */
    /* bottom: 326px; */
    top: 603px;
    /* border: 1px solid red; */
    /* width: 60px; */
    
}
.text p{
    display: inline-block;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
}
.arrow{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 60px;
    top: 0;
    /* border: 1px solid rebeccapurple; */
    animation: opa 1s infinite ease-in-out;
}
@keyframes opa{
    0%{}
    100%{
        opacity: 0;
        left: 120px;
    }
}
.gauge_box1{
    /* border: 1px solid darkred; */
    /* padding: 10px; */
    width: 200px;
    position: absolute;
    left: 50%;
    top: 615px;
    transform: translate(-50%, -50%);

}
.progressbar{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    /* background-color: #ccc; */
    background-color: #ebe3eb;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
}

.progress{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
}
.progress::after{
    content: "%";
}
.progressbar1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: lightblue; */
    background-color: #9e73a1;
    width: 0px;
    height: 30px;
    animation: progress1 5s ease-in-out forwards;
}
@keyframes progress1{
    0%{}
    100%{
    width:100%;
    }
}