@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* DECFDF */
/* bea1c0 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'Pretendard-Regular';
    background-color: #DECFDF;
}

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #bea1c0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.logo{
    height: 60px;
    line-height: 60px;
    /* border: 1px solid black; */
    text-transform: uppercase;    
}
.menu{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    position: relative;
}
.menu li{}
.menu li a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 22px;
}

#indicator{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25px;
    height: 4px;
    background-color: #9e73a1;
    border-radius: 5px;
    transition: all 0.3s;
    opacity: 0;
}
.menu li:hover ~ #indicator{
    opacity: 1;
}
.menu li:nth-child(1):hover ~ #indicator{
    left: 5.2%;
}
.menu li:nth-child(2):hover ~ #indicator{
    left: 38.7%;
}
.menu li:nth-child(3):hover ~ #indicator{
    left: 73.3%;
}
.section{
    min-height: 100vh;
    width: 100%;
}
.section_inner{
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}
.section_inner h2{
    width: 170px;
    font-size: 30px;
    border-bottom: 4px solid #9e73a1;
    margin-bottom: 20px;
}
/* about */
.about{}
.about_cont{
    border: 5px solid #fff;
    margin: 0 auto;
    width: 1200px;
    border-radius: 40px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}
.img_box{
    width: 300px;
    border: 1px solid red;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    width: 280px;
    height: 300px;
    border: 1px solid royalblue;
    margin-bottom: 10px;
}
.motto{
    /* border: 1px solid royalblue; */
    display: none;
}

.typing{
    text-align: center;
}
.typing ul li{
    width: 100%;
    height: 25px;
    line-height: 25px;
}
.typing ul li.on{
    animation: cursor 1s infinite;
    display: inline-block;
    padding-right: 5px;

}
@keyframes cursor{
    0%{border-right: 1px solid #ccc;}
    50%{border-right: 1px solid gray;}
    100%{border-right: 1px solid #ccc;}

}
.me{
    width: 800px;
    /* border: 1px solid blue; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.me li{
    width: 760px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.me  li p{
    width: 110px;
    /* background-color: aqua; */
    font-weight: bold;
    color: #9e73a1;
    text-align: center;
}
.me li span{
    display: block;
    width: 480px;
    padding-left: 40px;
    /* background-color: brown; */
}

/* design */
.design{}
.design .section_inner{
    height: 600px;
}
.my{
    display: flex;
    justify-content: center;
}
.finish{
    width: 600px;
    height: 500px;
    border: 1px solid blue;
    
}
.explanation{
    width: 800px;
    height: 500px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.explanation h3{
    padding: 30px 0;
    font-size: 40px;
    text-align: center;
    color: #9e73a1;
}
.tool{
    position: relative;
    display: flex;
    justify-content: center;
}
.tool img{
    width: 50px;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
}
.e_txt{
    font-size: 30px;
    padding: 50px 0 50px 140px ;
    line-height: 1.5;
}
.finish1{
    background-repeat: no-repeat;
    background-image: url("../img/taeyeon.png");
    position: relative;
}
.finish1 img{
    width: 40%;
    position: absolute;
    right: 20px;
    bottom: 10px;
    z-index: -1;
}
.finish2{
    position: relative;
}
.finish2 img{
    width: 120%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}
.finish3{
    background-image: url("../img/package2.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.finish3 img{
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -20px;
    transform: rotate(10deg);
}
.finish4{
    background-image: url("../img/trip1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.finish4 img{
    width: 70%;
    position: absolute;
    right: -170px;
    bottom: -80px;
    /* border: 1px solid yellow; */
}
.finish5{
    background-image: url("../img/go2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.finish5 img{
    width: 350px;
    position: absolute;
    left: -100px;
    bottom: 50px;
}

/* coding */
.coding{}
.c_finish{
    background-image: url("../img/monitor.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.c_finish .view{
    border: 1px solid tomato;
    width: 424px;
    height: 267px;
    position: absolute;
    top: 107px;
    left: 86px;
}
.c_tool{
    position: relative;
    display: flex; 
    justify-content: center;
    /* border: 1px solid yellowgreen; */
    height: 50px;
     /* width: 300px; */
}
.c_tool img{
    /* border: 1px solid red; */
    width: 50px;
    margin-right: 10px;
}
.c_finish span{
    color: #fff;
    font-size: 20px;
}